body {
    background-image: url('../img/battleship.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, .5);
}

#user-name{
    color: red;
    vertical-align: middle;
}

#games-list{
    display: inline-block;
}