.grid-stack-item-content {
    opacity: 1;
    background-repeat: no-repeat;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    left: 0px !important;
}

.CarrierHorizontal{
    background-image: url('../img/carrierhor.png');
    background-size: contain;
}

.CarrierVertical {
    background-image: url('../img/carrierver.png');
    background-size: 100% 100%;
    width: 37px !important;
}

.PatroalBoatHorizontal {
    background-image: url('../img/patrolboathor.png');
    background-size: contain;
    min-width: 72px;
}

.PatroalBoatVertical {
    background-image: url('../img/patrolboatver.png');
    background-size: 100% 100%;
    width: 37px !important;
}

.SubmarineHorizontal {
    min-width: 111px;
    background-image: url('../img/submarinehor.png');
    background-size: contain;
}

.SubmarineVertical {
    background-image: url('../img/submarinever.png');
    background-size: 100% 100%;
    width: 37px !important;
}

.DestroyerHorizontal {
    min-width: 111px;
    background-image: url('../img/destroyerhor.png');
    background-size: contain;
}

.DestroyerVertical {
    background-image: url('../img/destroyerver.png');
    background-size: 100% 100%;
    width: 37px !important;
}

.BattleShipHorizontal {
    min-width: 148px;
    background-image: url('../img/battleshiphor.png');
    background-size: contain;
}

.BattleShipVertical {
    background-image: url('../img/battleshipver.png');
    background-size: 100% 100%;
    width: 37px !important;
}

.grid-ships {
    width: 407px!important;
    height: 407px!important;
    background-image: url(../img/grid-bkg.png);
    background-size: contain;
    padding-left: 37px;
    padding-top: 37px;
    position: relative;
}

.salvo-table{
    background-image: url('../img/grid-bkg.png');
    background-size: contain;
    width: 407px!important;
    height: 407px!important;
    font-family: 'PT Sans', sans-serif;
}

.salvo-table th{
    /* background-color: rgb(213, 213, 213); */
    text-align: center;
}

.salvo-table .td-info {
    /* background-color: rgb(213, 213, 213); */
    text-align: center;
}

.salvo-table th, .salvo-table td {
    /* border: solid black 1px; */
    width: 37px;
    height: 37px;
    text-align: center;
}

.shoot{
    background-image: url('../img/targetself.png');
    background-size: contain;
}

.hitSelf {
    position: absolute;
    width: 37px;
    height: 37px;
    background-image: url('../img/hit3.gif');
    background-size: contain;
}

.shooted {
    background-image: url('../img/targetself.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hitOpponent {
    background-image: url('../img/hit3.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#playersList{
    display: inline;
    margin-left: 20px;
    color: black;
}

#playersList #playerOne {
    color: red;
}

.shipsStatus{
    background-color: #3b7ad3;
    max-width: 407px;
}

.btn-shoot{
    position: absolute;
    max-width: 37px;
    max-height: 37px;
    min-width: 37px;
    min-height: 37px;
    background-color: #bb2f3d;
    border-radius: 20px;
    font-family: 'PT Sans', sans-serif;
    transition: background-color .3s;
}
.btn-shoot:hover{
    background-color: #ff374b;
}
.btn-place{
    z-index: 100;
    position: absolute;
    max-width: 37px;
    max-height: 37px;
    min-width: 37px;
    min-height: 37px;
    background-color: #1d975e;
    border-radius: 20px;
    font-family: 'PT Sans', sans-serif;
    transition: background-color .3s;
    color: wheat;
}
.btn-place:hover{
    background-color: #25bb75;
}
.salvo.h5:not(.shoot ):not(.shooted){
    border-radius: 20px;
    opacity: 30%;
    transition: background-color 0.3s;
}
.salvo.h5:not(.shoot ):not(.shooted):hover{
    background-color: #dc3545;
}