.grid-stack-item-content {
    opacity: 1;
    background-repeat: no-repeat;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    left: 0px !important;
}

.CarrierHorizontal{
    background-image: url('../img/ships/carrier_x.png');
    background-size: contain;
}

.CarrierVertical {
    background-image: url('../img/ships/carrier_y.png');
    background-size: 100% 100%;
    width: 30px !important;
}

.PatroalBoatHorizontal {
    background-image: url('../img/ships/patrolboat_x.png');
    background-size: contain;
    min-width: 60px;
}

.PatroalBoatVertical {
    background-image: url('../img/ships/patrolboat_y.png');
    background-size: 100% 100%;
    width: 30px !important;
}

.SubmarineHorizontal {
    min-width: 90px;
    background-image: url('../img/ships/submarine_x.png');
    background-size: contain;
}

.SubmarineVertical {
    background-image: url('../img/ships/submarine_y.png');
    background-size: 100% 100%;
    width: 30px !important;
}

.DestroyerHorizontal {
    min-width: 90px;
    background-image: url('../img/ships/destroyer_x.png');
    background-size: contain;
}

.DestroyerVertical {
    background-image: url('../img/ships/destroyer_y.png');
    background-size: 100% 100%;
    width: 30px !important;
}

.BattleShipHorizontal {
    min-width: 120px;
    background-image: url('../img/ships/battleship_x.png');
    background-size: contain;
}

.BattleShipVertical {
    background-image: url('../img/ships/battleshipv_y.png');
    background-size: 100% 100%;
    width: 30px !important;
}

.grid-ships {
    width: 330px!important;
    height: 330px!important;
    background-image: url(../img/table-background.png);
    background-size: contain;
    padding-left: 30px;
    padding-top: 30px;
    position: relative;
}

.salvo-table{
    background-image: url('../img/table-background.png');
    background-size: contain;
    width: 330px!important;
    height: 330px!important;
    font-family: 'PT Sans', sans-serif;
}

.salvo-table th{
    /* background-color: rgb(213, 213, 213); */
    text-align: center;
}

.salvo-table .td-info {
    /* background-color: rgb(213, 213, 213); */
    text-align: center;
}

.salvo-table th, .salvo-table td {
    /* border: solid black 1px; */
    width: 30px;
    height: 30px;
    text-align: center;
}

.shoot{
    background-image: url('../img/targetself.png');
    background-size: contain;
}

.hitSelf {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../img/hit3.gif');
    background-size: contain;
}

.shooted {
    background-image: url('../img/targetself.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hitOpponent {
    background-image: url('../img/hit3.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#playersList{
    display: inline;
    margin-left: 20px;
    color: black;
}

#playersList #playerOne {
    color: red;
}

.shipsStatus{
    background-color: #3b7ad3;
    max-width: 330px;
}

.btn-shoot{
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    background-color: #bb2f3d;
    border-radius: 15px;
    font-family: 'PT Sans', sans-serif;
    transition: background-color .3s;
}
.btn-shoot:hover{
    background-color: #ff374b;
}
.btn-place{
    z-index: 100;
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    background-color: #1d975e;
    border-radius: 15px;
    font-family: 'PT Sans', sans-serif;
    transition: background-color .3s;
    color: wheat;
}
.btn-place:hover{
    background-color: #25bb75;
}
.salvo.h5:not(.shoot ):not(.shooted){
    border-radius: 15px;
    opacity: 30%;
    transition: background-color 0.3s;
}
.salvo.h5:not(.shoot ):not(.shooted):hover{
    background-color: #dc3545;
}