<!-- show games in list -->

<ul>
    <li v-for="game in openGames">
        <span>{{game.creationDate | dateFormat}}</span>
        <ul>
            <li v-for="gamePlayer in game.gamePlayers">
                {{gamePlayer.player.email}} 
                <button v-if="gamePlayer.player.email == player" class="btn btn-primary btn-sm" v-on:click="returnGame(gamePlayer.id)">Ir al juego</button>
                <button v-else-if="player != 'Guest' && gamePlayer.player.email != player && game.gamePlayers.length < 2" class="btn btn-success btn-sm" v-on:click="joinGame(game.id)">Unirse al juego</button>
            </li>
        </ul>
    </li>
</ul>

<!-- show games in div table whitch bootstrap -->

<div class="mb-2" style="overflow-y: auto; max-height: 400px; overflow-x: hidden;">
    <div v-for="game in openGames" class="overflow-hide rounded-lg ml-2 mr-2 mb-2" style="background-color: rgb(52, 58, 64);">
        <div class="row justify-content-center">
            <div class="col text-right">
                <span class="game-text">{{game.gamePlayers[0].player.email}}</span>
            </div>
            <div class="col-0 text-center">
                <span class="game-text">vs</span>
            </div>
            <div v-if="game.gamePlayers.length < 2" class="col text-left">
                <span class="game-text">Esperando Oponente</span>
            </div>
            <div v-else class="col text-left">
                <span class="game-text">{{game.gamePlayers[1].player.email}}</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <span class="game-text">{{game.creationDate | dateFormat}}</span>
        </div>
        <div v-for= "gamePlayer in game.gamePlayers" class="row justify-content-center">
            <button v-if="gamePlayer.player.email == player" class="btn btn-primary btn-sm m-1" v-on:click="returnGame(gamePlayer.id)">Ir al juego</button>
            <button v-else-if="player != 'Guest' && gamePlayer.player.email != player && game.gamePlayers.length < 2" class="btn btn-success btn-sm m-1" v-on:click="joinGame(game.id)">Unirse al juego</button>
        </div>
    </div>
</div>

<!-- show games in table   css rgb(52, 58, 64) -->
