<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="css/salvo.css" />
    <link rel="stylesheet" href="dist/normalize.css" />
    <link rel="stylesheet" href="dist/gridstack.css" />
    <link rel="stylesheet" href="dist/gridstack-extra.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <title>Salvo games!</title>
</head>
<body>
    <div id="app">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/index.html">
                <img src="img/target.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                Salvo
            </a>
            <div id="playersList">
                <span class="game-text" id="playerOne">{{ player.email }}</span>
                <span class="game-text" v-if="opponent.email != null"> vs {{ opponent.email }}</span>
            </div>
            <button v-on:click="logout" id="logout-btn" class="btn btn-outline-secondary ml-1 my-2 my-sm-0" type="button">Logout</button>
        </nav>
        <div class="container  mt-3 mb-3">
            <div class="row justify-content-center">
                <div class="col-sm- ml-5 mr-5">
                    <h1 class="title">Barcos</h1>
                    <div class="row justify-content-center">
                        <div class="shipsStatus w-100 rounded-lg" style="background-color: rgb(60, 157, 214);">
                            <div class="row justify-content-center">
                                <span class="mx-2 m-1"><img id="CarrierIcon" src="img/carrierafloat.png"></span>
                                <span class="mx-2 m-1"><img id="BattleShipIcon" src="img/battleshipafloat.png"></span>
                                <span class="mx-2 m-1"><img id="SubmarineIcon" src="img/submarineafloat.png"></span>
                                <span class="mx-2 m-1"><img id="DestroyerIcon" src="img/destroyerafloat.png"></span>
                                <span class="mx-2 m-1"><img id="PatroalBoatIcon" src="img/patroalboatafloat.png"></span>
                            </div>                              
                        </div>
                    </div>                    
                    <div class="row justify-content-center">
                        <h2 v-if="gameView.ships && gameView.ships.length < 5" class="title my-2" style="min-height: 32px; max-height: 32px;">
                            Posicione sus barcos
                        </h2>
                        <div v-else class="mb-4  mt-4"></div>
                    </div>
                    <div class="row-sm- justify-content-center">
                        <div v-if="gameView.ships && gameView.ships.length < 5" class="btn-place text-center" @click="placeShips()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt-fill mt-2 title" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                            </svg>
                        </div>
                        <!-- div que usa la librería gridstack grid-stack-10 se indica que son 10 columnas-->
                        <div class="grid-ships">
                            <div id="grid" class="grid-stack grid-stack-10"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm- ml-5 mr-5">
                    <h1 class="title">Salvos</h1>
                    <div class="row-sm- justify-content-center">
                        <div class="shipsStatus w-100 rounded-lg" style="background-color: rgb(60, 157, 214);">
                            <div class="row justify-content-center">
                                <span class="mx-2 m-1"><img id="OpponentCarrierIcon" src="img/carrierafloat.png"></span>
                                <span class="mx-2 m-1"><img id="OpponentBattleShipIcon" src="img/battleshipafloat.png"></span>
                                <span class="mx-2 m-1"><img id="OpponentSubmarineIcon" src="img/submarineafloat.png"></span>
                                <span class="mx-2 m-1"><img id="OpponentDestroyerIcon" src="img/destroyerafloat.png"></span>
                                <span class="mx-2 m-1"><img id="OpponentPatroalBoatIcon" src="img/patroalboatafloat.png"></span>
                            </div>   
                        </div>
                    </div>
                              
                    <div class="row justify-content-center">

                        <h2 v-if="gameView.gameState == 'ENTER_SALVO'" class="title my-2">
                            Dispare los salvos
                        </h2>
                        <div v-else class="mb-4 mt-4"></div>
                    </div>
                    <div class="row-sm- justify-content-center">
                        <img v-if="gameView.gameState == 'ENTER_SALVO'" 
                                class="btn-shoot" 
                                v-on:click="placeSalvos()"
                                src="/img/aim.png" alt="">
                        </img>
                        <table class="salvo-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-info"></td>
                                    <td class="salvo h5 text-warning" id="A1"></td>
                                    <td class="salvo h5 text-warning" id="A2"></td>
                                    <td class="salvo h5 text-warning" id="A3"></td>
                                    <td class="salvo h5 text-warning" id="A4"></td>
                                    <td class="salvo h5 text-warning" id="A5"></td>
                                    <td class="salvo h5 text-warning" id="A6"></td>
                                    <td class="salvo h5 text-warning" id="A7"></td>
                                    <td class="salvo h5 text-warning" id="A8"></td>
                                    <td class="salvo h5 text-warning" id="A9"></td>
                                    <td class="salvo h5 text-warning" id="A10"></td>
                                </tr>
                                <tr>
                                    <td class="td-info"></td>
                                    <td class="salvo h5 text-warning" id="B1"></td>
                                    <td class="salvo h5 text-warning" id="B2"></td>
                                    <td class="salvo h5 text-warning" id="B3"></td>
                                    <td class="salvo h5 text-warning" id="B4"></td>
                                    <td class="salvo h5 text-warning" id="B5"></td>
                                    <td class="salvo h5 text-warning" id="B6"></td>
                                    <td class="salvo h5 text-warning" id="B7"></td>
                                    <td class="salvo h5 text-warning" id="B8"></td>
                                    <td class="salvo h5 text-warning" id="B9"></td>
                                    <td class="salvo h5 text-warning" id="B10"></td>
                                </tr>
                                <tr>
                                    <td class="td-info"></td>
                                    <td class="salvo h5 text-warning" id="C1"></td>
                                    <td class="salvo h5 text-warning" id="C2"></td>
                                    <td class="salvo h5 text-warning" id="C3"></td>
                                    <td class="salvo h5 text-warning" id="C4"></td>
                                    <td class="salvo h5 text-warning" id="C5"></td>
                                    <td class="salvo h5 text-warning" id="C6"></td>
                                    <td class="salvo h5 text-warning" id="C7"></td>
                                    <td class="salvo h5 text-warning" id="C8"></td>
                                    <td class="salvo h5 text-warning" id="C9"></td>
                                    <td class="salvo h5 text-warning" id="C10"></td>
                                </tr>
                                <tr>
                                    <td class="td-info"></td>
                                    <td class="salvo h5 text-warning" id="D1"></td>
                                    <td class="salvo h5 text-warning" id="D2"></td>
                                    <td class="salvo h5 text-warning" id="D3"></td>
                                    <td class="salvo h5 text-warning" id="D4"></td>
                                    <td class="salvo h5 text-warning" id="D5"></td>
                                    <td class="salvo h5 text-warning" id="D6"></td>
                                    <td class="salvo h5 text-warning" id="D7"></td>
                                    <td class="salvo h5 text-warning" id="D8"></td>
                                    <td class="salvo h5 text-warning" id="D9"></td>
                                    <td class="salvo h5 text-warning" id="D10"></td>
                                </tr>
                                <tr>
                                    <td class="td-info"></td>
                                    <td class="salvo h5 text-warning" id="E1"></td>
                                    <td class="salvo h5 text-warning" id="E2"></td>
                                    <td class="salvo h5 text-warning" id="E3"></td>
                                    <td class="salvo h5 text-warning" id="E4"></td>
                                    <td class="salvo h5 text-warning" id="E5"></td>
                                    <td class="salvo h5 text-warning" id="E6"></td>
                                    <td class="salvo h5 text-warning" id="E7"></td>
                                    <td class="salvo h5 text-warning" id="E8"></td>
                                    <td class="salvo h5 text-warning" id="E9"></td>
                                    <td class="salvo h5 text-warning" id="E10"></td>
                                </tr>
                                <tr>
                                    <td class="td-info"></td>
                                    <td class="salvo h5 text-warning" id="F1"></td>
                                    <td class="salvo h5 text-warning" id="F2"></td>
                                    <td class="salvo h5 text-warning" id="F3"></td>
                                    <td class="salvo h5 text-warning" id="F4"></td>
                                    <td class="salvo h5 text-warning" id="F5"></td>
                                    <td class="salvo h5 text-warning" id="F6"></td>
                                    <td class="salvo h5 text-warning" id="F7"></td>
                                    <td class="salvo h5 text-warning" id="F8"></td>
                                    <td class="salvo h5 text-warning" id="F9"></td>
                                    <td class="salvo h5 text-warning" id="F10"></td>
                                </tr>
                                <tr>
                                    <td class="td-info"></td>
                                    <td class="salvo h5 text-warning" id="G1"></td>
                                    <td class="salvo h5 text-warning" id="G2"></td>
                                    <td class="salvo h5 text-warning" id="G3"></td>
                                    <td class="salvo h5 text-warning" id="G4"></td>
                                    <td class="salvo h5 text-warning" id="G5"></td>
                                    <td class="salvo h5 text-warning" id="G6"></td>
                                    <td class="salvo h5 text-warning" id="G7"></td>
                                    <td class="salvo h5 text-warning" id="G8"></td>
                                    <td class="salvo h5 text-warning" id="G9"></td>
                                    <td class="salvo h5 text-warning" id="G10"></td>
                                </tr>
                                <tr>
                                    <td class="td-info"></td>
                                    <td class="salvo h5 text-warning" id="H1"></td>
                                    <td class="salvo h5 text-warning" id="H2"></td>
                                    <td class="salvo h5 text-warning" id="H3"></td>
                                    <td class="salvo h5 text-warning" id="H4"></td>
                                    <td class="salvo h5 text-warning" id="H5"></td>
                                    <td class="salvo h5 text-warning" id="H6"></td>
                                    <td class="salvo h5 text-warning" id="H7"></td>
                                    <td class="salvo h5 text-warning" id="H8"></td>
                                    <td class="salvo h5 text-warning" id="H9"></td>
                                    <td class="salvo h5 text-warning" id="H10"></td>
                                </tr>
                                <tr>
                                    <td class="td-info"></td>
                                    <td class="salvo h5 text-warning" id="I1"></td>
                                    <td class="salvo h5 text-warning" id="I2"></td>
                                    <td class="salvo h5 text-warning" id="I3"></td>
                                    <td class="salvo h5 text-warning" id="I4"></td>
                                    <td class="salvo h5 text-warning" id="I5"></td>
                                    <td class="salvo h5 text-warning" id="I6"></td>
                                    <td class="salvo h5 text-warning" id="I7"></td>
                                    <td class="salvo h5 text-warning" id="I8"></td>
                                    <td class="salvo h5 text-warning" id="I9"></td>
                                    <td class="salvo h5 text-warning" id="I10"></td>
                                </tr>
                                <tr>
                                    <td class="td-info"></td>
                                    <td class="salvo h5 text-warning" id="J1"></td>
                                    <td class="salvo h5 text-warning" id="J2"></td>
                                    <td class="salvo h5 text-warning" id="J3"></td>
                                    <td class="salvo h5 text-warning" id="J4"></td>
                                    <td class="salvo h5 text-warning" id="J5"></td>
                                    <td class="salvo h5 text-warning" id="J6"></td>
                                    <td class="salvo h5 text-warning" id="J7"></td>
                                    <td class="salvo h5 text-warning" id="J8"></td>
                                    <td class="salvo h5 text-warning" id="J9"></td>
                                    <td class="salvo h5 text-warning" id="J10"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm- d-flex justify-content-center w-75 my-2">
                    <div id="game-state">
                        <span>{{gameState}}</span>
                        <div v-if="gameView.gameState == 'WAIT'" class="img-state img-state-wait"></div>
                        <div v-else-if="gameView.gameState == 'PLACE_SHIPS'" class="img-state img-state-ship"></div>
                        <div v-else-if="gameView.gameState == 'ENTER_SALVO'" class="img-state img-state-fire"></div>
                        <div v-else-if="gameView.gameState == 'WIN'" class="img-state img-state-win"></div>
                        <div v-else-if="gameView.gameState == 'LOSS'" class="img-state img-state-loss"></div>
                        <div v-else-if="gameView.gameState == 'TIE'" class="img-state img-state-tie"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-">
                    <div class="row">
                        <div class="col mx-3">
                            <table class="table table-sm table-dark table-striped table-borderless rounded-lg ">
                                <thead>
                                    <tr>
                                        <th class="text-center">Turno</th>
                                        <th class="text-center">Daños</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="hit in gameView.hits">
                                        <td>{{hit.turn}}</td>
                                        <td><span v-for="shipHit in hit.hits">{{ shipHit.hits.length > 0 ? shipHit.type +' (' + shipHit.hits.length  + ') ' : '' }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col mx-3">
                            <table class="table table-sm table-dark table-striped table-borderless rounded-lg">
                                <thead>
                                    <tr>
                                        <th class="text-center">Turno</th>
                                        <th class="text-center">Daños</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="hit in gameView.hitsOpponent">
                                        <td>{{hit.turn}}</td>
                                        <td><span v-for="shipHit in hit.hits">{{ shipHit.hits.length > 0 ? shipHit.type +' (' + shipHit.hits.length  + ') ' : '' }}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade " id="infoModal" role="dialog" aria-labelledby="infoModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
                <div class="modal-content text-center" style="border: none">
                    <!--Header-->
                    <div class="modal-header justify-content-center" style="background-color: #ff3547;">
                        <p class="heading m-0" style="color: #fff; font-size: 20px;">{{modal.tittle}}</p>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <i>{{modal.message}}</i>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <a type="button" class="btn btn-danger" style="color: #fff;" data-dismiss="modal">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="dist/jquery-ui.min.js"></script>
    <script src="dist/gridstack.js"></script>
    <script src="dist/gridstack.jQueryUI.js"></script>
    <script src="dist/jquery.ui.touch-punch.min.js"></script>
    <script src="js/gameView.js"></script>
</body>
</html>