<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/salvo.css" />
	<title>Salvo games!</title>
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="img/target.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            Salvo
        </a>
    </nav>
    <div class="container mt-5" id="app">
        <div class="row justify-content-center">
            <div class="col-7">
                <h1>¡¡ Bienvenid@ a la Batalla Naval!!</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h2>Juegos</h2>
                <ul class="">
                    <li v-for="game in games">
                        <span>{{game.creationDate | dateFormat}}</span>
                        <ul>
                            <li v-for="gamePlayer in game.gamePlayers">{{gamePlayer.player.email}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h2>L&iacute;deres</h2>
                <table class="table table-striped table-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th>Jugador</th><th>Puntos</th><th>Ganados</th><th>Empatados</th><th>Perdidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="score in scores">
                            <td>{{ score.email }}</td>
                            <td>{{ score.total }}</td>
                            <td>{{ score.win }}</td>
                            <td>{{ score.tie }}</td>
                            <td>{{ score.lost }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/game.js"></script>
</body>
</html>